# set a shell
SHELL=/bin/bash

# cron是unix下的任务定时调度器，语法如下：
* * * * *  command_to_execute
- - - - -
| | | | |
| | | | +- day of week (0 - 7) (where sunday is 0 and 7)
| | | +--- month (1 - 12)
| | +----- day (1 - 31)
| +------- hour (0 - 23)
+--------- minute (0 - 59)

# 每隔15分钟执行一次
*/15 * * * * /home/user/command.sh

# 在1:12,3:12,5:15的时间分别执行
12 1-5/2 * * * /home/user/command.sh
12 1,3,5 * * * /home/user/command.sh

# 每周六早晨8:05执行
5 8 * * 6 /home/user/command.sh

# 查看某个用户的crontab设置
crontab -l -u root

# 查看系统的crontab
cat /etc/crontab

# 指定输出结果发送的邮箱
# 如果目标地址ping不通，则发送邮件
MAILTO="example@mail.com"
10,30,50 * * * * ping -c1 -w3 192.168.1.1 >/dev/null 

#或者不发送给任何人结果
MAILTO=""
* * * * * echo hello
